<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Oops! Something went wrong</h1>
        </header>
        <main>
            <div class="content">
                <div class="error">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </main>
        <footer>
            <a href="{{ url_for('auth.login') }}">Login</a> |
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        </footer>
    </div>
</body>
</html>
