<!-- filepath: /Users/judesantos/dev/projects/yourtechy/ml_training/ml_ci_cd/app/templates/landing.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to Our Application</h1>
        <a href="{{ url_for('auth.login') }}">Login</a> |
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        <p/>
        <a href="{{ url_for('auth.login_google') }}">Login with Google</a>
    </h1>

</body>
</html>

<script>
//    // Clear browser cache
//    window.onload = function () {
//        caches.keys().then(function (names) {jj
//            console.log('cookie names:' + names)
//            if (names.length == 0) return;
//            for (let name of names) caches.delete(name);
//        });
//
//        // Optional: Clear cookies
//        document.cookie.split(";").forEach(function (c) {
//            console.log('cookie: ' + c)
//            document.cookie = c
//                .replace(/^ +/, "")
//                .replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
//        });
//
//        console.log("Cache and cookies cleared.");
//    };
</script>